In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 读取文件 社交媒体心理健康指标数据集
mental_health = pd.read_csv('mental_health_social_media_dataset.csv')
mental_health.head()

,person_name,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,Reyansh Ghosh,35.0,1/1/2024,Male,Instagram,320,160,1,2,7.4,28,2,7,6,Stressed
1,Neha Patel,NaN,1/12/2024,Female,Instagram,453,226,1,3,6.7,15,3,8,5,Stressed
2,Ananya Naidu,26.0,1/6/2024,Male,Snapchat,357,196,1,2,7.2,24,3,7,6,Stressed
3,Neha Das,66.0,1/17/2024,Female,Snapchat,190,105,0,1,8.0,41,2,6,6,Stressed
4,Reyansh Banerjee,31.0,1/28/2024,Male,Snapchat,383,211,1,2,7.1,22,3,7,6,Stressed

In [3]:
mental_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   person_name                  5000 non-null   object
 1   age                          4999 non-null   float64
 2   date                         5000 non-null   object
 3   gender                       5000 non-null   object
 4   platform                     5000 non-null   object
 5   daily_screen_time_min        5000 non-null   int64
 6   social_media_time_min        5000 non-null   int64
 7   negative_interactions_count  5000 non-null   int64
 8   positive_interactions_count  5000 non-null   int64
 9   sleep_hours                  5000 non-null   float64
 10  physical_activity_min        5000 non-null   int64
 11  anxiety_level                5000 non-null   int64
 12  stress_level                 5000 non-null   int64
 13  mood_level                   5000 non-null   int64
 14  mental_state                 5000 non-null   object
dtypes: float64(2), int64(8), object(5)
memory usage: 586.1+ KB

In [4]:
mental_health.describe()

,age,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level
count,4999.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,29.948990,373.058200,175.331600,0.864200,1.835400,7.134660,22.693400,2.510400,7.107600,5.625800
std,12.280876,106.003916,71.209329,0.555176,0.943443,0.533184,10.602862,0.794996,1.062378,0.759928
min,13.000000,140.000000,35.000000,0.000000,0.000000,6.400000,8.000000,1.000000,5.000000,4.000000
25%,21.000000,310.000000,118.000000,1.000000,1.000000,6.700000,14.000000,2.000000,6.000000,5.000000
50%,27.000000,388.000000,170.000000,1.000000,2.000000,7.100000,21.000000,3.000000,7.000000,6.000000
75%,35.500000,461.000000,231.000000,1.000000,2.000000,7.450000,29.000000,3.000000,8.000000,6.000000
max,69.000000,520.000000,338.000000,2.000000,4.000000,8.300000,46.000000,4.000000,9.000000,7.000000

In [5]:
mental_health.mental_state.unique()

array(['Stressed', 'Healthy', 'At_Risk'], dtype=object)

In [6]:
for i in mental_health.columns:
    if mental_health[i].dtype == 'object':
        print(f'{i}的唯一值：{mental_health[i].unique()}')

person_name的唯一值：['Reyansh Ghosh' 'Neha Patel' 'Ananya Naidu' 'Neha Das' 'Reyansh Banerjee'
 'Myra Kale' 'Ananya Kulkarni' 'Meera Das' 'Vihaan Naidu' 'Meera Patil'
 'Suhani Das' 'Vivaan Shetty' 'Diya Saxena' 'Sai Verma' 'Aditi Das'
 'Aarav Pawar' 'Avni Rathod' 'Neha Pawar' 'Anika Nair' 'Pooja Roy'
 'Shaurya Rawat' 'Aditi Mishra' 'Saanvi Saxena' 'Payal Patel'
 'Payal Ansari' 'Diya Kale' 'Navya Menon' 'Aditya Iyer' 'Myra Joshi'
 'Sonal Choudhary' 'Reyansh Khan' 'Vihaan Menon' 'Aditi Yadav'
 'Aarohi Banerjee' 'Ishaan Banerjee' 'Sonal Verma' 'Navya Rawat'
 'Saanvi Rawat' 'Reyansh Pawar' 'Neha Naidu' 'Saanvi Patil' 'Jiya Nair'
 'Vihaan Khan' 'Krishna Reddy' 'Vivaan Saxena' 'Sai Rathod'
 'Shaurya Reddy' 'Suhani Chauhan' 'Diya Verma' 'Shaurya Saxena'
 'Vihaan Yadav' 'Isha Patel' 'Krishna Yadav' 'Kavya Rawat' 'Anika Saxena'
 'Krishna Das' 'Isha Deshmukh' 'Aarohi Patel' 'Sonal Shetty' 'Avni Menon'
 'Aditi Rawat' 'Aditi Deshmukh' 'Ishaan Chauhan' 'Saanvi Deshmukh'
 'Aarav Menon' 'Reyansh Choudhary' 'Meera Sharma' 'Diya Naidu'
 'Meera Kulkarni' 'Myra Nair' 'Krishna Patil' 'Aditya Sharma' 'Pooja Iyer'
 'Shaurya Joshi' 'Avni Choudhary' 'Aditi Joshi' 'Ishaan Naidu'
 'Aarav Mishra' 'Kavya Kale' 'Payal Shetty' 'Arjun Patil' 'Suhani Roy'
 'Saanvi Yadav' 'Arjun Banerjee' 'Kavya Yadav' 'Reyansh Roy'
 'Ishaan Patel' 'Saanvi Banerjee' 'Aadhya Ansari' 'Reyansh Nair'
 'Navya Chauhan' 'Vihaan Saxena' 'Arjun Kale' 'Reyansh Deshmukh'
 'Saanvi Kulkarni' 'Neha Reddy' 'Aadhya Joshi' 'Pooja Ansari'
 'Suhani Rawat' 'Vivaan Shinde' 'Aadhya Saxena' 'Anika Das' 'Sai Rawat'
 'Aditi Pawar' 'Diya Ghosh' 'Payal Saxena' 'Ananya Banerjee' 'Anika Joshi'
 'Payal Sharma' 'Pooja Saxena' 'Anika Ghosh' 'Aadhya Choudhary'
 'Aditya Joshi' 'Sai Naidu' 'Pooja Choudhary' 'Payal Iyer' 'Aarav Ansari'
 'Shaurya Pawar' 'Meera Patel' 'Pooja Rathod' 'Meera Choudhary'
 'Navya Nair' 'Payal Nair' 'Avni Ghosh' 'Reyansh Verma' 'Aditya Nair'
 'Arjun Nair' 'Meera Nair' 'Pooja Nair' 'Vivaan Verma' 'Aditi Rathod'
 'Kavya Iyer' 'Aarav Sharma' 'Myra Saxena' 'Vivaan Das' 'Diya Banerjee'
 'Sai Kale' 'Vihaan Kale' 'Ananya Shetty' 'Sai Shetty' 'Arjun Ghosh'
 'Vivaan Gupta' 'Suhani Kulkarni' 'Isha Mishra' 'Aarav Choudhary'
 'Aditi Roy' 'Sai Mishra' 'Neha Patil' 'Pooja Reddy' 'Myra Banerjee'
 'Aditya Ansari' 'Navya Joshi' 'Navya Choudhary' 'Aarav Naidu'
 'Krishna Sharma' 'Ananya Rawat' 'Anika Menon' 'Aarohi Kale'
 'Payal Shinde' 'Avni Mishra' 'Aditi Nair' 'Vivaan Sharma' 'Isha Saxena'
 'Diya Iyer' 'Arjun Roy' 'Kavya Choudhary' 'Ishaan Patil' 'Myra Mishra'
 'Isha Patil' 'Navya Shetty' 'Suhani Shetty' 'Aarav Shetty'
 'Navya Kulkarni' 'Riya Naidu' 'Vihaan Gupta' 'Krishna Ghosh'
 'Payal Patil' 'Anika Patil' 'Anika Chauhan' 'Aarohi Yadav' 'Aarohi Verma'
 'Suhani Patil' 'Isha Chauhan' 'Ishaan Reddy' 'Aarav Reddy' 'Aarav Yadav'
 'Sonal Mishra' 'Krishna Joshi' 'Diya Roy' 'Myra Rathod' 'Kavya Rathod'
 'Jiya Saxena' 'Sai Gupta' 'Suhani Naidu' 'Aditi Patel' 'Aarav Iyer'
 'Aditi Chauhan' 'Isha Ansari' 'Vihaan Patil' 'Riya Nair' 'Diya Rawat'
 'Payal Chauhan' 'Jiya Das' 'Sai Patil' 'Aditi Choudhary' 'Arjun Shetty'
 'Neha Nair' 'Aditya Rawat' 'Aarav Ghosh' 'Kavya Sharma' 'Aditya Khan'
 'Anika Shinde' 'Suhani Banerjee' 'Aditya Naidu' 'Jiya Shetty'
 'Suhani Kale' 'Vivaan Roy' 'Shaurya Verma' 'Avni Nair' 'Ishaan Kulkarni'
 'Suhani Mishra' 'Reyansh Chauhan' 'Shaurya Kale' 'Avni Patil'
 'Aarohi Menon' 'Meera Deshmukh' 'Aditi Banerjee' 'Reyansh Menon'
 'Vihaan Deshmukh' 'Navya Sharma' 'Isha Yadav' 'Diya Ansari' 'Kavya Patel'
 'Aditi Verma' 'Vivaan Kale' 'Suhani Ansari' 'Anika Banerjee' 'Riya Ghosh'
 'Shaurya Gupta' 'Saanvi Rathod' 'Arjun Sharma' 'Reyansh Reddy'
 'Sai Deshmukh' 'Navya Saxena' 'Kavya Naidu' 'Navya Mishra' 'Aadhya Khan'
 'Aditi Shinde' 'Riya Shetty' 'Myra Rawat' 'Avni Kale' 'Avni Iyer'
 'Avni Das' 'Payal Kale' 'Ishaan Pawar' 'Sonal Sharma' 'Avni Banerjee'
 'Aarav Patel' 'Anika Naidu' 'Aadhya Das' 'Neha Joshi' 'Arjun Rathod'
 'Neha Kale' 'Aditya Pawar' 'Myra Iyer' 'Suhani Menon' 'Neha Yadav'
 'Aditi Iyer' 'Saanvi Nair' 'Payal Yadav' 'Payal Ghosh' 'Arjun Pawar'
 'Isha Banerjee' 'Sonal Joshi' 'Vihaan Sharma' 'Avni Shinde' 'Suhani Iyer'
 'Vihaan Verma' 'Navya Shinde' 'Avni Ansari' 'Avni Sharma' 'Meera Iyer'
 'Aadhya Reddy' 'Isha Shetty' 'Isha Kale' 'Vivaan Nair' 'Diya Khan'
 'Neha Ansari' 'Ananya Iyer' 'Diya Patil' 'Krishna Shinde' 'Ananya Pawar'
 'Neha Deshmukh' 'Diya Yadav' 'Vivaan Chauhan' 'Myra Khan' 'Aditya Kale'
 'Riya Banerjee' 'Krishna Chauhan' 'Avni Saxena' 'Vivaan Ansari'
 'Ishaan Joshi' 'Vihaan Banerjee' 'Sonal Khan' 'Aadhya Kulkarni'
 'Neha Shetty' 'Sonal Chauhan' 'Anika Reddy' 'Shaurya Iyer'
 'Ishaan Shetty' 'Aditya Mishra' 'Riya Joshi' 'Meera Kale' 'Diya Nair'
 'Kavya Deshmukh' 'Kavya Menon' 'Aditya Choudhary' 'Riya Saxena'
 'Anika Rathod' 'Aadhya Roy' 'Vihaan Pawar' 'Neha Choudhary' 'Myra Pawar'
 'Navya Ansari' 'Avni Patel' 'Isha Das' 'Diya Menon' 'Navya Roy'
 'Sonal Reddy' 'Sonal Kale' 'Isha Menon' 'Sonal Shinde' 'Avni Joshi'
 'Jiya Banerjee' 'Kavya Chauhan' 'Diya Choudhary' 'Shaurya Banerjee'
 'Neha Gupta' 'Reyansh Yadav' 'Aadhya Naidu' 'Shaurya Choudhary'
 'Aarohi Roy' 'Avni Verma' 'Arjun Chauhan' 'Arjun Gupta' 'Myra Naidu'
 'Aarav Rathod' 'Aditi Ansari' 'Suhani Joshi' 'Pooja Shinde'
 'Reyansh Saxena' 'Aditya Deshmukh' 'Aditi Saxena' 'Aditi Naidu'
 'Reyansh Sharma' 'Anika Rawat' 'Riya Menon' 'Sai Das' 'Sai Banerjee'
 'Diya Deshmukh' 'Aadhya Chauhan' 'Saanvi Das' 'Isha Rathod'
 'Sonal Kulkarni' 'Myra Ghosh' 'Anika Khan' 'Saanvi Choudhary'
 'Riya Yadav' 'Saanvi Sharma' 'Sonal Rathod' 'Anika Kulkarni'
 'Diya Shinde' 'Isha Naidu' 'Sai Pawar' 'Meera Rawat' 'Sonal Naidu'
 'Avni Rawat' 'Krishna Banerjee' 'Aditi Khan' 'Arjun Choudhary'
 'Vihaan Roy' 'Suhani Nair' 'Ishaan Sharma' 'Sonal Ghosh' 'Aadhya Rawat'
 'Aadhya Yadav' 'Aditya Chauhan' 'Sai Khan' 'Saanvi Menon' 'Meera Saxena'
 'Aadhya Iyer' 'Kavya Shetty' 'Aarav Khan' 'Ananya Das' 'Aadhya Sharma'
 'Vivaan Choudhary' 'Kavya Gupta' 'Arjun Iyer' 'Arjun Das' 'Arjun Shinde'
 'Shaurya Ansari' 'Riya Das' 'Jiya Choudhary' 'Jiya Sharma'
 'Myra Deshmukh' 'Vivaan Rawat' 'Vivaan Rathod' 'Pooja Khan' 'Diya Sharma'
 'Suhani Pawar' 'Arjun Saxena' 'Payal Roy' 'Jiya Verma' 'Ananya Ansari'
 'Reyansh Gupta' 'Vivaan Khan' 'Vivaan Ghosh' 'Anika Gupta' 'Riya Iyer'
 'Shaurya Shetty' 'Riya Shinde' 'Riya Rawat' 'Arjun Verma'
 'Vivaan Deshmukh' 'Payal Kulkarni' 'Ananya Mishra' 'Isha Kulkarni'
 'Meera Menon' 'Aditya Patil' 'Pooja Chauhan' 'Aarohi Chauhan' 'Myra Das'
 'Arjun Khan' 'Neha Rathod' 'Sonal Gupta' 'Avni Yadav' 'Anika Patel'
 'Saanvi Shetty' 'Krishna Nair' 'Navya Patel' 'Suhani Yadav' 'Meera Verma'
 'Aadhya Banerjee' 'Jiya Roy' 'Meera Ansari' 'Reyansh Patil' 'Saanvi Kale'
 'Jiya Kulkarni' 'Avni Gupta' 'Payal Pawar' 'Aadhya Ghosh' 'Shaurya Patil'
 'Ishaan Deshmukh' 'Vihaan Patel' 'Suhani Verma' 'Saanvi Naidu'
 'Navya Banerjee' 'Meera Roy' 'Aadhya Gupta' 'Arjun Menon' 'Aarav Das'
 'Kavya Mishra' 'Ananya Saxena' 'Ishaan Kale' 'Krishna Iyer'
 'Vihaan Shetty' 'Ananya Reddy' 'Saanvi Gupta' 'Sai Ansari' 'Payal Menon'
 'Vivaan Patel' 'Aadhya Pawar' 'Vihaan Ansari' 'Diya Patel'
 'Aarav Banerjee' 'Jiya Gupta' 'Meera Shinde' 'Krishna Verma'
 'Riya Choudhary' 'Ananya Patel' 'Meera Gupta' 'Kavya Patil'
 'Ananya Choudhary' 'Vivaan Pawar' 'Arjun Yadav' 'Aditya Das' 'Myra Roy'
 'Payal Reddy' 'Anika Deshmukh' 'Shaurya Menon' 'Aarohi Naidu'
 'Myra Chauhan' 'Sai Sharma' 'Riya Sharma' 'Vivaan Yadav' 'Krishna Ansari'
 'Reyansh Ansari' 'Shaurya Ghosh' 'Saanvi Patel' 'Neha Sharma'
 'Vihaan Chauhan' 'Sai Menon' 'Aarav Chauhan' 'Saanvi Reddy'
 'Aadhya Shetty' 'Saanvi Chauhan' 'Aadhya Verma' 'Myra Reddy' 'Ananya Roy'
 'Shaurya Naidu' 'Krishna Kale' 'Payal Khan' 'Anika Sharma'
 'Aditi Kulkarni' 'Diya Pawar' 'Vihaan Mishra' 'Vihaan Iyer'
 'Krishna Choudhary' 'Jiya Iyer' 'Sonal Banerjee' 'Jiya Reddy'
 'Aditya Ghosh' 'Ananya Gupta' 'Vivaan Joshi' 'Riya Kulkarni'
 'Pooja Pawar' 'Navya Gupta' 'Aarav Nair' 'Neha Kulkarni' 'Sonal Nair'
 'Suhani Rathod' 'Kavya Ansari' 'Pooja Shetty' 'Riya Deshmukh'
 'Neha Saxena' 'Myra Patel' 'Riya Khan' 'Payal Gupta' 'Shaurya Shinde'
 'Myra Yadav' 'Aarav Kale' 'Aarohi Joshi' 'Krishna Rathod' 'Myra Sharma'
 'Aditya Shetty' 'Isha Reddy' 'Navya Iyer' 'Jiya Kale' 'Isha Khan'
 'Reyansh Shinde' 'Kavya Das' 'Saanvi Iyer' 'Kavya Pawar'
 'Payal Choudhary' 'Aadhya Menon' 'Ananya Yadav' 'Avni Chauhan'
 'Aarohi Das' 'Ishaan Gupta' 'Pooja Menon' 'Sai Roy' 'Aadhya Nair'
 'Riya Roy' 'Reyansh Naidu' 'Aditya Rathod' 'Ananya Nair' 'Kavya Nair'
 'Saanvi Pawar' 'Payal Mishra' 'Riya Kale' 'Isha Gupta' 'Krishna Menon'
 'Pooja Banerjee' 'Shaurya Mishra' 'Kavya Banerjee' 'Jiya Patel'
 'Ishaan Ansari' 'Aarohi Saxena' 'Vivaan Patil' 'Arjun Kulkarni'
 'Diya Joshi' 'Riya Reddy' 'Aarohi Sharma' 'Payal Verma' 'Aditya Roy'
 'Sonal Pawar' 'Anika Mishra' 'Meera Pawar' 'Aarav Saxena' 'Riya Patil'
 'Aarohi Reddy' 'Isha Sharma' 'Sonal Yadav' 'Anika Shetty' 'Aditi Gupta'
 'Reyansh Shetty' 'Navya Reddy' 'Pooja Naidu' 'Jiya Shinde' 'Ananya Verma'
 'Ishaan Nair' 'Suhani Patel' 'Riya Chauhan' 'Meera Chauhan'
 'Vivaan Kulkarni' 'Anika Verma' 'Pooja Verma' 'Krishna Roy'
 'Arjun Mishra' 'Avni Khan' 'Sai Iyer' 'Arjun Deshmukh' 'Krishna Deshmukh'
 'Aadhya Deshmukh' 'Aarav Gupta' 'Aditi Sharma' 'Isha Choudhary'
 'Reyansh Iyer' 'Ananya Deshmukh' 'Payal Joshi' 'Vihaan Ghosh'
 'Riya Pawar' 'Shaurya Rathod' 'Avni Shetty' 'Diya Reddy' 'Pooja Patil'
 'Myra Kulkarni' 'Reyansh Patel' 'Navya Verma' 'Navya Rathod'
 'Saanvi Mishra' 'Myra Menon' 'Pooja Sharma' 'Sai Patel' 'Isha Roy'
 'Krishna Rawat' 'Jiya Menon' 'Saanvi Roy' 'Jiya Khan' 'Diya Das'
 'Navya Yadav' 'Meera Naidu' 'Sai Kulkarni' 'Aarav Rawat' 'Sai Choudhary'
 'Krishna Kulkarni' 'Anika Yadav' 'Aditi Ghosh' 'Aarav Shinde'
 'Krishna Khan' 'Aarav Deshmukh' 'Ananya Chauhan' 'Aarohi Pawar'
 'Krishna Naidu' 'Aarohi Rawat' 'Pooja Joshi' 'Ananya Ghosh'
 'Aarohi Rathod' 'Aarohi Gupta' 'Aarohi Ansari' 'Myra Patil'
 'Neha Chauhan' 'Aarav Joshi' 'Payal Das' 'Meera Ghosh' 'Arjun Reddy'
 'Aditi Shetty' 'Aarohi Nair' 'Myra Choudhary' 'Saanvi Verma'
 'Myra Ansari' 'Sonal Patel' 'Aarav Patil' 'Avni Naidu' 'Jiya Yadav'
 'Ishaan Saxena' 'Krishna Pawar' 'Meera Reddy' 'Aadhya Kale' 'Isha Shinde'
 'Neha Shinde' 'Arjun Patel' 'Diya Shetty' 'Neha Ghosh' 'Aditya Gupta'
 'Navya Das' 'Aarohi Shetty' 'Pooja Kulkarni' 'Neha Menon' 'Diya Gupta'
 'Navya Kale' 'Payal Deshmukh' 'Aarohi Shinde' 'Aditi Kale'
 'Avni Kulkarni' 'Aarohi Khan' 'Krishna Patel' 'Isha Iyer' 'Payal Rawat'
 'Sonal Deshmukh' 'Aarohi Deshmukh' 'Ananya Sharma' 'Sonal Ansari'
 'Ananya Patil' 'Krishna Mishra' 'Neha Banerjee' 'Anika Pawar'
 'Ananya Kale' 'Sonal Rawat' 'Vihaan Kulkarni' 'Vihaan Das'
 'Aadhya Rathod' 'Myra Verma' 'Jiya Chauhan' 'Aditi Patil'
 'Shaurya Chauhan' 'Vihaan Rathod' 'Reyansh Rathod' 'Shaurya Patel'
 'Pooja Deshmukh' 'Krishna Shetty' 'Isha Nair' 'Avni Roy' 'Vihaan Shinde'
 'Aarohi Iyer' 'Riya Rathod' 'Ananya Shinde' 'Ishaan Yadav'
 'Aditya Shinde' 'Aarav Roy' 'Aarohi Patil' 'Isha Pawar' 'Navya Naidu'
 'Suhani Khan' 'Sai Ghosh' 'Aditya Saxena' 'Isha Joshi' 'Sonal Patil'
 'Navya Khan' 'Vivaan Menon' 'Jiya Mishra' 'Vivaan Reddy' 'Jiya Ghosh'
 'Arjun Ansari' 'Ishaan Rawat' 'Vihaan Reddy' 'Reyansh Rawat'
 'Pooja Rawat' 'Kavya Verma' 'Meera Joshi' 'Vihaan Nair' 'Sai Shinde'
 'Vivaan Naidu' 'Kavya Kulkarni' 'Myra Shetty' 'Saanvi Ansari'
 'Payal Rathod' 'Isha Rawat' 'Ishaan Verma' 'Saanvi Khan'
 'Ishaan Choudhary' 'Kavya Saxena' 'Suhani Deshmukh' 'Pooja Yadav'
 'Suhani Ghosh' 'Kavya Joshi' 'Sonal Saxena' 'Reyansh Kale'
 'Diya Kulkarni' 'Ananya Menon' 'Saanvi Ghosh' 'Ishaan Mishra'
 'Suhani Shinde' 'Avni Reddy' 'Reyansh Das' 'Aditi Menon' 'Pooja Patel'
 'Riya Gupta' 'Jiya Rawat' 'Ananya Joshi' 'Neha Iyer' 'Reyansh Joshi'
 'Riya Ansari' 'Neha Verma' 'Shaurya Das' 'Jiya Naidu' 'Aadhya Patil'
 'Arjun Rawat' 'Jiya Rathod' 'Sonal Das' 'Kavya Roy' 'Ishaan Ghosh'
 'Ishaan Das' 'Payal Banerjee' 'Isha Verma' 'Pooja Kale' 'Meera Yadav'
 'Navya Deshmukh' 'Ishaan Roy' 'Vihaan Rawat' 'Riya Mishra'
 'Aditya Kulkarni' 'Riya Verma' 'Shaurya Sharma' 'Jiya Patil'
 'Ananya Rathod' 'Jiya Ansari' 'Jiya Deshmukh' 'Diya Chauhan'
 'Aadhya Patel' 'Ishaan Shinde' 'Shaurya Yadav' 'Suhani Choudhary'
 'Pooja Das' 'Suhani Reddy' 'Isha Ghosh' 'Meera Shetty' 'Sai Reddy'
 'Meera Banerjee' 'Avni Pawar' 'Sai Nair' 'Anika Ansari' 'Aditya Verma'
 'Aditya Yadav' 'Avni Deshmukh' 'Navya Ghosh' 'Kavya Shinde'
 'Meera Rathod' 'Suhani Sharma' 'Vivaan Iyer' 'Sai Joshi' 'Sonal Menon'
 'Aarohi Kulkarni' 'Riya Patel' 'Sai Saxena' 'Suhani Saxena' 'Sai Chauhan'
 'Neha Roy' 'Aarav Kulkarni' 'Pooja Ghosh' 'Meera Khan' 'Ishaan Iyer'
 'Ishaan Rathod' 'Sonal Roy' 'Anika Roy' 'Aditya Patel' 'Suhani Gupta'
 'Reyansh Mishra' 'Sonal Iyer' 'Diya Mishra' 'Navya Patil' 'Myra Gupta'
 'Pooja Mishra' 'Aadhya Mishra' 'Arjun Naidu' 'Aarohi Ghosh'
 'Saanvi Joshi' 'Shaurya Khan' 'Anika Choudhary' 'Aditya Reddy'
 'Jiya Joshi' 'Neha Khan' 'Aarav Verma' 'Neha Mishra' 'Kavya Khan'
 'Vihaan Joshi' 'Navya Pawar' 'Diya Rathod' 'Meera Mishra' 'Aarohi Mishra'
 'Pooja Gupta' 'Vivaan Mishra' 'Sai Yadav' 'Kavya Ghosh' 'Aditya Banerjee'
 'Kavya Reddy' 'Ananya Khan' 'Aadhya Shinde' 'Vihaan Choudhary'
 'Myra Shinde' 'Vivaan Banerjee' 'Aditi Reddy' 'Shaurya Roy' 'Jiya Pawar'
 'Aarohi Choudhary' 'Anika Kale' 'Anika Iyer' 'Saanvi Shinde'
 'Shaurya Deshmukh' 'Krishna Saxena' 'Krishna Gupta']
date的唯一值：['1/1/2024' '1/12/2024' '1/6/2024' '1/17/2024' '1/28/2024' '2/8/2024'
 '2/19/2024' '1/11/2024' '1/22/2024' '2/2/2024' '1/16/2024' '1/27/2024'
 '2/7/2024' '1/21/2024' '1/26/2024' '1/31/2024' '2/5/2024' '2/16/2024'
 '2/27/2024' '3/9/2024' '2/10/2024' '2/21/2024' '3/3/2024' '2/15/2024'
 '2/26/2024' '3/8/2024' '2/20/2024' '2/25/2024' '3/7/2024' '3/18/2024'
 '3/29/2024' '4/9/2024' '3/1/2024' '3/12/2024' '3/23/2024' '4/3/2024'
 '3/6/2024' '3/11/2024' '3/16/2024' '3/21/2024' '4/1/2024' '3/26/2024'
 '4/6/2024' '3/31/2024' '4/11/2024' '4/5/2024' '4/16/2024' '4/10/2024'
 '4/21/2024' '5/2/2024' '4/15/2024' '4/20/2024' '5/1/2024' '4/25/2024'
 '5/6/2024' '4/30/2024' '5/11/2024' '5/5/2024' '5/16/2024' '5/27/2024'
 '5/10/2024' '5/15/2024' '5/26/2024' '5/20/2024' '5/31/2024' '6/11/2024'
 '5/25/2024' '5/30/2024' '6/10/2024' '6/21/2024' '6/4/2024' '6/9/2024'
 '6/14/2024' '6/25/2024' '7/6/2024' '7/17/2024' '7/28/2024' '6/19/2024'
 '6/30/2024' '7/11/2024' '7/22/2024' '8/2/2024' '6/24/2024' '7/5/2024'
 '7/16/2024' '7/27/2024' '6/29/2024' '7/10/2024' '7/4/2024' '7/9/2024'
 '7/20/2024' '7/31/2024' '7/14/2024' '7/25/2024' '7/19/2024' '7/24/2024'
 '8/4/2024' '7/29/2024' '8/3/2024' '8/14/2024' '8/25/2024' '9/5/2024'
 '8/8/2024' '8/19/2024' '8/13/2024' '8/24/2024' '9/4/2024' '8/18/2024'
 '8/29/2024' '8/23/2024' '9/3/2024' '8/28/2024' '9/8/2024' '9/2/2024'
 '9/7/2024' '9/18/2024' '9/29/2024' '10/10/2024' '10/21/2024' '9/12/2024'
 '9/23/2024' '10/4/2024' '9/17/2024' '9/28/2024' '10/9/2024' '10/20/2024'
 '10/31/2024' '9/22/2024' '10/3/2024' '10/14/2024' '10/25/2024'
 '9/27/2024' '10/8/2024' '10/19/2024' '10/2/2024' '10/13/2024'
 '10/24/2024' '11/4/2024' '10/7/2024' '10/12/2024' '10/17/2024'
 '10/22/2024' '11/2/2024' '10/27/2024' '11/7/2024' '11/1/2024'
 '11/12/2024' '11/6/2024' '11/17/2024' '11/28/2024' '12/9/2024'
 '11/11/2024' '11/22/2024' '11/16/2024' '11/27/2024' '11/21/2024'
 '12/2/2024' '11/26/2024' '12/1/2024' '12/12/2024' '12/23/2024'
 '12/6/2024' '12/11/2024' '12/22/2024' '1/2/2025' '1/13/2025' '1/24/2025'
 '2/4/2025' '12/16/2024' '12/27/2024' '1/7/2025' '12/21/2024' '12/26/2024'
 '12/31/2024' '1/11/2025' '1/22/2025' '2/2/2025' '1/5/2025' '1/16/2025'
 '1/27/2025' '1/10/2025' '1/21/2025' '2/1/2025' '1/15/2025' '1/26/2025'
 '2/6/2025' '1/20/2025' '1/25/2025' '2/5/2025' '1/30/2025' '2/15/2025'
 '2/26/2025' '3/9/2025' '2/9/2025' '2/20/2025' '3/3/2025' '2/14/2025'
 '2/25/2025' '2/19/2025' '2/24/2025' '3/7/2025' '3/1/2025' '3/12/2025'
 '3/6/2025' '3/17/2025' '3/28/2025' '3/11/2025' '3/22/2025' '4/2/2025'
 '3/16/2025' '3/27/2025' '4/7/2025' '4/18/2025' '3/21/2025' '4/1/2025'
 '3/26/2025' '3/31/2025' '4/11/2025' '4/22/2025' '4/5/2025' '4/16/2025'
 '4/27/2025' '4/10/2025' '4/21/2025' '5/2/2025' '4/15/2025' '4/26/2025'
 '5/7/2025' '4/20/2025' '5/1/2025' '4/25/2025' '5/6/2025' '4/30/2025'
 '5/11/2025' '5/5/2025' '5/10/2025' '5/15/2025' '5/20/2025' '5/31/2025'
 '6/11/2025' '5/25/2025' '6/5/2025' '5/30/2025' '6/10/2025' '6/4/2025'
 '6/15/2025' '6/26/2025' '7/7/2025' '6/9/2025' '6/20/2025' '6/14/2025'
 '6/25/2025' '6/19/2025' '6/30/2025' '7/11/2025' '6/24/2025' '7/5/2025'
 '6/29/2025' '7/4/2025' '7/15/2025' '7/9/2025' '7/14/2025' '7/25/2025'
 '8/5/2025' '8/16/2025' '7/19/2025' '7/30/2025' '8/10/2025' '8/21/2025'
 '7/24/2025' '8/4/2025' '8/15/2025' '7/29/2025' '8/9/2025' '8/20/2025'
 '8/31/2025' '8/3/2025' '8/14/2025' '8/25/2025' '8/8/2025' '8/13/2025'
 '8/24/2025' '9/4/2025' '9/15/2025' '8/18/2025' '8/29/2025' '8/23/2025'
 '9/3/2025' '9/14/2025' '9/25/2025' '8/28/2025' '9/8/2025' '9/19/2025'
 '9/30/2025' '9/2/2025' '9/13/2025' '9/7/2025' '9/12/2025' '9/23/2025'
 '9/17/2025' '9/28/2025' '9/22/2025' '10/3/2025' '10/14/2025' '10/25/2025'
 '9/27/2025' '10/8/2025' '10/19/2025' '10/30/2025' '10/2/2025' '10/7/2025'
 '10/18/2025' '10/12/2025' '10/23/2025' '10/17/2025' '10/28/2025'
 '10/22/2025' '10/27/2025' '11/7/2025' '11/1/2025' '11/12/2025' '1/7/2024'
 '1/18/2024' '1/29/2024' '11/6/2025' '11/11/2025' '11/16/2025' '1/5/2024'
 '1/10/2024' '2/1/2024' '2/12/2024' '2/23/2024' '1/15/2024' '2/6/2024'
 '2/17/2024' '2/28/2024' '1/20/2024' '1/25/2024' '1/30/2024' '2/4/2024'
 '2/9/2024' '2/14/2024' '2/24/2024' '2/29/2024' '3/5/2024' '3/27/2024'
 '4/7/2024' '3/10/2024' '3/15/2024' '3/20/2024' '3/25/2024' '4/27/2024'
 '5/8/2024' '5/19/2024' '3/30/2024' '4/4/2024' '4/26/2024' '4/14/2024'
 '4/19/2024' '4/24/2024' '4/29/2024' '5/21/2024' '5/4/2024' '5/9/2024'
 '5/14/2024' '5/24/2024' '5/29/2024' '6/3/2024' '6/8/2024' '6/13/2024'
 '6/18/2024' '6/23/2024' '6/28/2024' '7/3/2024' '7/8/2024' '7/13/2024'
 '7/18/2024' '7/23/2024' '8/7/2024' '8/12/2024' '9/14/2024' '8/17/2024'
 '9/19/2024' '8/22/2024' '8/27/2024' '9/1/2024' '9/6/2024' '9/11/2024'
 '9/16/2024' '9/21/2024' '9/26/2024' '10/18/2024' '10/29/2024' '10/1/2024'
 '10/23/2024' '11/3/2024' '10/6/2024' '10/28/2024' '10/11/2024'
 '10/16/2024' '10/26/2024' '12/3/2024' '11/5/2024' '11/10/2024'
 '11/15/2024' '11/20/2024' '11/25/2024' '12/17/2024' '12/28/2024'
 '11/30/2024' '12/5/2024' '12/10/2024' '12/15/2024' '1/6/2025'
 '12/20/2024' '12/25/2024' '12/30/2024' '1/4/2025' '1/9/2025' '1/31/2025'
 '1/14/2025' '1/19/2025' '2/10/2025' '1/29/2025' '2/3/2025' '2/8/2025'
 '3/2/2025' '2/13/2025' '3/18/2025' '2/18/2025' '2/23/2025' '2/28/2025'
 '3/5/2025' '3/10/2025' '3/15/2025' '3/20/2025' '5/3/2025' '3/25/2025'
 '3/30/2025' '4/4/2025' '4/9/2025' '4/14/2025' '4/19/2025' '4/24/2025'
 '4/29/2025' '5/4/2025' '5/26/2025' '5/9/2025' '5/14/2025' '5/19/2025'
 '5/24/2025' '5/29/2025' '7/1/2025' '7/12/2025' '6/3/2025' '7/6/2025'
 '7/17/2025' '6/8/2025' '6/13/2025' '6/18/2025' '6/23/2025' '7/26/2025'
 '6/28/2025' '7/3/2025' '7/8/2025' '7/13/2025' '7/18/2025' '7/23/2025'
 '7/28/2025' '8/19/2025' '8/30/2025' '8/2/2025' '8/7/2025' '8/12/2025'
 '8/17/2025' '8/22/2025' '8/27/2025' '9/18/2025' '9/1/2025' '9/6/2025'
 '9/11/2025' '11/5/2025' '9/16/2025' '9/21/2025' '9/26/2025' '10/29/2025'
 '10/1/2025' '10/6/2025' '10/11/2025' '11/2/2025' '10/16/2025'
 '10/21/2025' '10/26/2025' '10/31/2025' '11/10/2025' '11/15/2025'
 '1/4/2024' '1/9/2024' '1/14/2024' '1/19/2024' '1/24/2024' '3/2/2024'
 '2/3/2024' '2/13/2024' '2/18/2024' '3/4/2024' '3/14/2024' '3/19/2024'
 '3/24/2024' '4/8/2024' '4/13/2024' '4/18/2024' '4/23/2024' '4/28/2024'
 '5/3/2024' '5/13/2024' '5/18/2024' '5/23/2024' '5/28/2024' '6/2/2024'
 '6/7/2024' '6/12/2024' '6/17/2024' '6/22/2024' '6/27/2024' '7/2/2024'
 '7/7/2024' '7/12/2024' '8/1/2024' '8/6/2024' '8/11/2024' '8/16/2024'
 '8/21/2024' '8/26/2024' '8/31/2024' '9/10/2024' '9/15/2024' '9/20/2024'
 '9/25/2024' '9/30/2024' '10/5/2024' '10/15/2024' '10/30/2024' '12/7/2024'
 '11/9/2024' '11/14/2024' '11/19/2024' '11/24/2024' '11/29/2024'
 '12/4/2024' '12/14/2024' '12/19/2024' '12/24/2024' '12/29/2024'

In [7]:
data = mental_health.loc[:,'age':]
data.head()

,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,35.0,1/1/2024,Male,Instagram,320,160,1,2,7.4,28,2,7,6,Stressed
1,NaN,1/12/2024,Female,Instagram,453,226,1,3,6.7,15,3,8,5,Stressed
2,26.0,1/6/2024,Male,Snapchat,357,196,1,2,7.2,24,3,7,6,Stressed
3,66.0,1/17/2024,Female,Snapchat,190,105,0,1,8.0,41,2,6,6,Stressed
4,31.0,1/28/2024,Male,Snapchat,383,211,1,2,7.1,22,3,7,6,Stressed

In [8]:
# 将object转为int
for col in data:
    if data[col].dtype == 'object':
        uni = data[col].unique()
        def convert(item):
            index = np.argwhere(uni == item)[0][0]
            return index
        data[col] = data[col].map(convert)

In [9]:
data

,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,35.0,0,0,0,320,160,1,2,7.4,28,2,7,6,0
1,NaN,1,1,0,453,226,1,3,6.7,15,3,8,5,0
2,26.0,2,0,1,357,196,1,2,7.2,24,3,7,6,0
3,66.0,3,1,1,190,105,0,1,8.0,41,2,6,6,0
4,31.0,4,0,1,383,211,1,2,7.1,22,3,7,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,42.0,181,1,3,254,64,0,1,7.7,35,1,5,7,2
4996,33.0,184,1,4,330,214,1,2,7.4,27,3,7,6,0
4997,13.0,185,0,4,403,262,2,2,7.0,20,4,9,4,0
4998,21.0,561,0,4,476,309,2,3,6.6,12,4,9,4,0
4999,42.0,431,1,4,249,162,1,1,7.8,35,2,6,6,0

In [10]:
data.isnull().any()

age                             True
date                           False
gender                         False
platform                       False
daily_screen_time_min          False
social_media_time_min          False
negative_interactions_count    False
positive_interactions_count    False
sleep_hours                    False
physical_activity_min          False
anxiety_level                  False
stress_level                   False
mood_level                     False
mental_state                   False
dtype: bool

In [ ]:
#  假设有缺失值
# 处理方法一 删除缺失值
# 修改原表使用inplace=True
data1 = data.dropna(subset=['age'])
data1

,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,35.0,0,0,0,320,160,1,2,7.4,28,2,7,6,0
2,26.0,2,0,1,357,196,1,2,7.2,24,3,7,6,0
3,66.0,3,1,1,190,105,0,1,8.0,41,2,6,6,0
4,31.0,4,0,1,383,211,1,2,7.1,22,3,7,6,0
5,25.0,5,1,1,516,284,1,3,6.4,8,3,8,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,42.0,181,1,3,254,64,0,1,7.7,35,1,5,7,2
4996,33.0,184,1,4,330,214,1,2,7.4,27,3,7,6,0
4997,13.0,185,0,4,403,262,2,2,7.0,20,4,9,4,0
4998,21.0,561,0,4,476,309,2,3,6.6,12,4,9,4,0
4999,42.0,431,1,4,249,162,1,1,7.8,35,2,6,6,0

In [ ]:
# 处理方二填充缺失值

data2 = data.fillna({'age': data['age'].mean()})
data2

,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,35.00000,0,0,0,320,160,1,2,7.4,28,2,7,6,0
1,29.94899,1,1,0,453,226,1,3,6.7,15,3,8,5,0
2,26.00000,2,0,1,357,196,1,2,7.2,24,3,7,6,0
3,66.00000,3,1,1,190,105,0,1,8.0,41,2,6,6,0
4,31.00000,4,0,1,383,211,1,2,7.1,22,3,7,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,42.00000,181,1,3,254,64,0,1,7.7,35,1,5,7,2
4996,33.00000,184,1,4,330,214,1,2,7.4,27,3,7,6,0
4997,13.00000,185,0,4,403,262,2,2,7.0,20,4,9,4,0
4998,21.00000,561,0,4,476,309,2,3,6.6,12,4,9,4,0
4999,42.00000,431,1,4,249,162,1,1,7.8,35,2,6,6,0